
.missionContainer { 
    position: relative;
    background-color: white;
    opacity: 1;
    width: 1000px;
    height: 985px;
    margin-left: 60px;
    margin-top: 50px;
}

.detailsBorder {
	border-left: 300px solid #A7463C;
	border-right: 310px solid #A7463C; 
	height: 1500px;
}

.charity_name {
	margin-top: 150px;
    margin-left: 0px;
}

.tagline {
	margin-left: 0px;
}
.missionBox { 
	background-color: white;
    opacity: 1;
    border: 1px solid #a6a0a0;
    width: 600px;
    height: 750px;
    position: absolute;
    left: 577px;
    top: 139px;
}
.missionBackground { 
	background-color: #A7463C;
    opacity: 1;
    width: 600px;
    height: 55px;
    position: absolute;
    left: 577px;
    top: 84px;
}

.missionStatement {
	margin-top: 0;
    margin-bottom: 1rem;
    width: 450px;
    font-size: 18px;
    padding: 20px;
    text-align: left;
    text-indent: 80px;
    margin-left: 50px
}
.donateBackground { 
	background-color:#A7463C;
	opacity:1;
	width:240px;
	height:66px;
	position:absolute;
	left:935px;
	top:0px;
}
.addressBackground { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:477px;
	height:127px;
	position:absolute;
	left:34px;
	top:252px;
}
.einBackground { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:477px;
	height:128px;
	position:absolute;
	left:34px;
	top:397px;
}
.websiteBackground { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:477px;
	height:128px;
	position:absolute;
	left:34px;
	top:541px;
}
.ratingBackground { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	opacity:1;
	width:477px;
	height:127px;
	position:absolute;
	left:34px;
	top:687px;
}
.contactBackground { 
	background-color: #A7463C;
    opacity: 1;
    width: 544px;
    height: 55px;
    position: absolute;
    left: 0px;
    top: 84px;
}
.contactInformation { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:42px;
	position:absolute;
	left:34px;
	top:90px;
	font-family:Work Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}

.contactBox {
   
	opacity: 1;
    border: 1px solid #a6a0a0;
    width: 542px;
    height: 750px;
    position: absolute;
    left: 0px;
    top: 139px;
}

.mission { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:133px;
	height:42px;
	position:absolute;
	left:622px;
	top:90px;
	font-family:Work Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}

.btn {
	width: 100px;
	border: none;
	color: white;
	border-color: none !important;
	margin-left: 55px;
	margin-top: 10px;
}

.btn a:link {
	color: white;
	font-size: 36px;
	border: red !important;
}

.btn a:visited {
	color: white;
	border-color: red !important;
}

.btn a:hover {
	text-decoration: none;
	border-color: red;
}
.btn-outline-primary {
	margin-left: 60px;
	margin-top: 10px;
	font-size: 48px;
	color: none !important; 
	border-color: none !important;
}

.btn-outline-primary a:link {
	border-color: none !important;
}

.btn-primary {
	margin-left: 50px;
	text-decoration: none !important;
	color: none !important;
	background-color: none !important;
	border-color: none !important;
	border: none !important;
}


.address { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:400px;
	height:42px;
	position:absolute;
	left:46px;
	top:262px;
	font-family:Work Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}

.address p { 
font-size: 14px;

}
.ein { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:400px;
	height:42px;
	position:absolute;
	left:46px;
	top:413px;
	font-family:Work Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
.website { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:400px;
	height:42px;
	position:absolute;
	left:46px;
	top:550px;
	font-family:Work Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
.rating { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:400px;
	height:42px;
	position:absolute;
	left:46px;
	top:701px;
	font-family:Work Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
